<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/dashboard">SupplyChainX</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="fas fa-bars"></i> Tableau de bord</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/materials" routerLinkActive="active">
            <i class="fas fa-cog"></i> Matières Premières
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/suppliers" routerLinkActive="active">
            <i class="fas fa-truck"></i> Fournisseurs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            <i class="fas fa-user"></i> Users
          </a>
        </li>
      </ul>

      <div class="d-flex">
        <button *ngIf="isLoggedIn()" class="btn btn-outline-light btn-sm" (click)="onLogout()">
          Déconnexion
        </button>
        <a *ngIf="!isLoggedIn()" class="btn btn-primary btn-sm" routerLink="/login">Connexion</a>
      </div>
    </div>
  </div>
</nav>
